<!DOCTYPE html>
<html lang="zh">
  <head>
    <title>排球比賽紀錄</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <section id="setting">
      <div class="container" v-if="seen">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <select id="our-name" v-model="ourTeam">
              <option value="選擇隊伍" selected="selected">選擇隊伍</option>
              <option value="成大資工">成大資工</option>
              <option value="成大資工Ａ隊">成大資工Ａ隊</option>
              <option value="成大資工Ｂ隊">成大資工Ｂ隊</option>
            </select>
          </div>
          <div class="col-md-6 col-xs-12">
            <input type="text" id="enemy-name" name="enemy-team" placeholder="對手隊名" v-model="enemyTeam">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <input type="text" name="liberal" placeholder="自由球員" v-model="teamMembers[6].text">
          </div>
          <div class="col-md-6 col-xs-12">
            <input type="text" name="1" placeholder="1" v-model="teamMembers[0].text">
            <input type="text" name="2" placeholder="2" v-model="teamMembers[1].text">
            <input type="text" name="3" placeholder="3" v-model="teamMembers[2].text"><br>
            <input type="text" name="4" placeholder="4" v-model="teamMembers[3].text">
            <input type="text" name="5" placeholder="5" v-model="teamMembers[4].text">
            <input type="text" name="6" placeholder="6" v-model="teamMembers[5].text">
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 col-sm-11"></div>
          <div class="col-md-1 col-sm-1">
            <button id="nextButton" v-on:click="nextSection">{{ buttonValue }}</button>
          </div>
        </div>
      </div>
    </section>
    <section id="history">
      <div class="container" v-if="seen">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-1">號碼</div>
          <div class="col-md-3">人名</div>
          <div class="col-md-2">狀態</div>
          <div class="col-md-4">原因</div>
        </div>
        <div class="row" v-for="record in records">
          <div class="col-md-2"> </div>
          <div class="col-md-1">{{record.num}}</div>
          <div class="col-md-3">{{record.person}}</div>
          <div class="col-md-2">{{record.status}}</div>
          <div class="col-md-4">{{record.reason}}</div>
        </div>
      </div>
    </section>
    <section id="select-section">
      <div class="container" v-if="seen">
        <div class="row">
          <div class="col-md-12">
            <h1 id="title"> <span>{{setting.enemyTeam}}</span><span>&nbsp;v.s. {{setting.ourTeam}}</span></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <select id="person" v-model="selectPerson">
              <option value="default">選擇人員</option>
              <option v-for="option in setting.teamMembers" v-bind:value="option.text">{{option.text}} {{memberNum[option.text]}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p> 
              <label for="get-score">得分</label>
              <input id="get-score" type="radio" name="score-type" value="get-score" v-model="picked">
              <select id="get-score-reason" v-model="selectGetScore">
                <option v-for="option in getScoreArray" v-bind:value="option.value">{{option.text}}</option>
              </select>
            </p>
          </div>
          <div class="col-md-6 col-sm-6">
            <p>
              <label for="loss-score">失分</label>
              <input id="loss-score" type="radio" name="score-type" value="loss-score" v-model="picked">
              <select id="loss-score-reason" v-model="selectLossScore">
                <option v-for="option in lossScoreArray" v-bind:value="option.value">{{option.text}}</option>
              </select>
            </p><span>{{selectGetScore}}</span><br><span>{{selectLossScore}}</span><br><span>{{selectPerson}}</span><br><span>{{picked}}</span>
          </div>
        </div>
        <div class="row" id="buttons">
          <div class="col-md-9 col-sm-9"></div>
          <div class="col-md-2 col-sm-2">
            <button v-on:click="clickHistory">{{historyButton}}</button>
          </div>
          <div class="col-md-1 col-sm-1">
            <button v-on:click="clickRecord">寫入</button>
          </div>
        </div>
        <div class="row" id="finishButton">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button @click="clickFinishButton">比賽結束</button>
          </div>
        </div>
      </div>
    </section>
    <section id="display-section">
      <h1 id="winner">{{winner}}</h1>
    </section>
    <section id="analysis-scetion"></section>
    <script src="js/util.js"></script>
    <script src="js/record.js"></script>
  </body>
</html>