@import "./base.scss";

.app-bar-title {
  padding: 10px 5%;
  font-size: 20px;
}

.center-icon {
  width: 100;
  height: 100;
  margin: 0 auto;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
