.bold {
  font-weight: bold;
}

.margin-top-60 {
  margin-top: 60px;
}

.height-140 {
  height: 140px;
}

.font-size-100 {
  font-size: 100px;
}

.unset-line-height {
  line-height: unset;
}

.red {
  color: red;
}

.yellow {
  color: rgb(255, 191, 0);
}
